<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<title>FlexTeaching3</title>
	
	<script src="https://unpkg.com/vue@latest"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.2.1/dist/vuetify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.2.1/dist/vuetify.min.js"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

	<link href="css/bootstrap.css" rel="stylesheet">	
	<link href="css/ft3_fingerprint.css" rel="stylesheet">	
	<link href="css/ft3_modals.css" rel="stylesheet">
	<link href="css/ft3_toggle.css" rel="stylesheet">
	<link href="css/ft3_buttons.css" rel="stylesheet">
	<link href="css/ft3_content_containers.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
        crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!---FT3_HEADERS--->

</head>

<body>
  
<script>
  // Listen for a message from the iframe, so that we can resize it. This
  // should only be sent when the iframe contains HTML.
  addEventListener('message', function(e) {
    if (isNaN(e.data)) return;
    const iframe = document.querySelector('#ft3_html_iframe');
    if(iframe !== null){
      const resizeTo = parseInt(e.data);// + 10;
      iframe.style.height = resizeTo + 'px';
    }
  }, false);
</script>
  
  <div class="wrapper" id="flexTeaching-app" data-api-url="<!---FT3_API_LOCATION--->">
    
    <v-sheet>
    <v-layout>

      <v-app-bar
        color="primary"
        prominent
      >
        <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

        <v-toolbar-title>FlexTeaching3</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-autocomplete v-model="ft_assignment" :items="ft_assignments" label="Select assignment:" :disabled="ft_locked" no-data-text='No matching assignments found.'>
            <!-- See: https://github.com/vuetifyjs/vuetify/issues/16792 -->
            <template v-slot:item="{ item, props }">
              <v-divider v-if="item.raw.type === 'divider'"></v-divider>
              <v-list-subheader v-else-if="item.raw.type === 'header'">{{item.title}}</v-list-subheader>
              <v-list-item v-else v-bind="props" :disabled="item.raw.disabled"></v-list-item>
            </template>
          </v-autocomplete>
          <label class="toggle">
            <input type="checkbox" v-model='ft_assignment_mode' :disabled="ft_locked">
            <span class="slider"></span>
            <span class="labels" data-on="Assignment" data-off="Practice"></span>
          </label>      
        </v-app-bar>

      <v-navigation-drawer
        v-model="drawer"
      >
        <v-list>
          <v-list-item>
            <v-text-field id="ft_id_textbox" v-model="ft_id" placeholder="" :disabled="ft_locked" label="ID"></v-text-field>
          </v-list-item>
          <v-list-item>
            <div class="flexteaching-fingerprint-container">
						  <div v-if="!loading && assignments_loaded && !outOfDate" v-html="identicon_html" id="flexteaching-fingerprint"></div>
						</div>
          </v-list-item>
          <v-list-item>
            <v-list v-if='!ft_assignment_mode'>
              <v-list-item>
                <v-checkbox label="Show solutions?" id="ft_solutions_checkbox" v-model="ft_solutions" :disabled="ft_locked"></v-checkbox>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item>
                <v-tooltip text="Copy seed to clipboard">
                <template v-slot:activator="{ props }">
                  <v-btn v-bind="props" @click="copySeed">&#128203;</v-btn>
                </template>
              </v-tooltip>
                <v-text-field id="ft_seed_textbox" v-model="ft_seed" :disabled='ft_masterseed !== "" || ft_locked' label="Seed"></v-text-field>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-text-field id="ft_masterseed_textbox" v-model="ft_masterseed"  :disabled="ft_locked" label="Master seed"></v-text-field>
            </v-list-item>
            </v-list>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-main>
        <v-card variant='flat' id='ft_main' style='padding-top: 1em; padding-left: 1em; padding-right: 1em; min-height:100%'>
          <v-overlay
            :model-value='outOfDate && !loading'
            class="ft3-reload-modal"
            persistent
            contained
            @click="update_content_and_buttons"
            scroll-strategy='block'
          ></v-overlay>
          <v-toolbar color='white'>
            <v-btn v-for="button in ft_buttons" @click.prevent="downloadFile(button.url)" class="ft_button" :disabled='loading || error || outOfDate'><i v-bind:class="button.icon"></i>{{button.label}}</v-btn>
          </v-toolbar>
          <div class="content_fragment" id="ft_content" v-html="ft_content"></div>
        </v-card>
      </v-main>
    </v-layout>
  </v-sheet>
  
  <!-- Loading overlay -->
  <v-overlay
    :model-value="loading"
    class="align-center justify-center ft3_overlay_blur"
    persistent
    scroll-strategy='block'
  >
    <v-progress-circular
      color="primary"
      indeterminate
      size="64"
    ></v-progress-circular>
  </v-overlay>
  
  <!-- Modal for errors -->
  <v-dialog
  v-model="error"
  width="auto"
  >
    <v-card>
      <v-container>
        <v-row>
      <v-col cols=2 style='color: red;font-size: 200%;'>&#9888;</v-col>
      <v-col>
      <v-card-text class="text-left">{{error_text}}
      </v-card-text>
      </v-col>
      </v-row>
      </v-container>
      <v-card-actions>
        <v-btn color="primary" block @click="error = false">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
    
  </div><!-- end ft3 app-->

	<script src="js/adminkit/app.js"></script>
  <script src="js/flexTeaching.js" type = "module"></script>

<!---FT3_FOOTERS--->  

</body>

</html>
