<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Richard D. Morey">
	<meta name="keywords" content="">
	<meta name="robots" content="noindex, nofollow">

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<title>FlexTeaching3</title>
	
	<!-- Vue and Vuetify content -->
	<script src="https://unpkg.com/vue@latest"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.2.1/dist/vuetify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.2.1/dist/vuetify.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

	<!-- Google font CSS -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	
	 <!-- font-awsome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <!-- CSS from rmarkdown (to match look) -->
	<link href="css/bootstrap.css" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link href="css/ft3_fingerprint.css" rel="stylesheet">	
	<link href="css/ft3_modals.css" rel="stylesheet">
	<link href="css/ft3_toggle.css" rel="stylesheet">
	<link href="css/ft3_buttons.css" rel="stylesheet">
	<link href="css/ft3_content_containers.css" rel="stylesheet">
	<link href="css/ft3_media_print.css" rel="stylesheet">
	
  <!-- code highlighting CSS and script -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
  
  <!-- MathJax (math script) setup -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <!-- jdenticon -->
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
        crossorigin="anonymous"></script>

<!---FT3_HEADERS--->

</head>

<body>
  
<script src='js/addEventListener.js'></script>
  
  <div class="wrapper" id="flexTeaching-app" data-settings='<!---FT3_SETTINGS--->'>
    
    <v-sheet>
    <v-layout>

      <v-app-bar
        :color="assignmentMode ? 'indigo' : 'blue-gray-lighten-4'"
        prominent
      >
        <v-app-bar-nav-icon variant="text" @click.stop="showSidebar = !showSidebar"></v-app-bar-nav-icon>

        <v-toolbar-title>FlexTeaching3</v-toolbar-title>
        
        <mode-switcher
          v-if='assignmentsAreLoaded'
          :assignment-mode-init='initialMode'
          :assignment-mode-message='assignmentModeMessage'
          :practice-mode-message='practiceModeMessage'
          :locked='locked'
          @mode-switch='(m) => {assignmentMode = m;}'
        ></mode-switcher>

        <v-spacer></v-spacer>
        
        <assignments-list
          :api-location='apiLocation' 
          :initial-assignment='initialAssignment' 
          :auth-token='authToken'
          :locked='locked'
          @new-assignment='newAssignment'
          @assignments-loaded='assignmentsAreLoaded = true'
          @assignments-loading-error='displayError'
          ></assignments-list>
      </v-app-bar>

      <v-main>
        <v-container fluid>
          
        <v-navigation-drawer
        v-model="showSidebar"
        permanent
        :color="assignmentMode ? 'indigo-lighten-5' : ''"
        >
        <v-list>
          <v-list-item>
            <v-text-field id="id_textbox" v-model="id" placeholder="" :disabled="locked" label="ID" @keyup.enter.native="updateContentAndButtons"></v-text-field>
          </v-list-item>
          <v-list-item>
            <div class="flexteaching-fingerprint-container">
						  <div v-if="!loading && assignmentsAreLoaded && !outOfDate" v-html="identicon_html" id="flexteaching-fingerprint"></div>
						</div>
          </v-list-item>
          <v-list-item>
            <v-list v-show='!assignmentMode'>
              <v-list-item>
                <v-checkbox label="Show solutions?" id="solutions_checkbox" v-model="solutions" :disabled="locked"></v-checkbox>
              </v-list-item>
              <v-divider></v-divider>
              <seed-input
                :api-location='apiLocation'
                :assignment-init='assignment'
                :auth-token='authToken'
                :seed-init='initialSeed'
                :locked='locked'
                @update-seed='newSeed'
                @update-seed-error='displayError'
                ref='seedInputComponent'
              >
              </seed-input>
            </v-list>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

        <v-card variant='flat' id='ft_main' style='padding-top: 1em; padding-left: 1em; padding-right: 1em; min-height:100%'>
          <v-overlay
            :model-value='outOfDate && !loading'
            class="ft3-reload-modal"
            persistent
            contained
            @click="updateContentAndButtons"
            scroll-strategy='block'
          ></v-overlay>
          <v-toolbar color='white'>
            <v-btn v-for="button in buttons" @click.prevent="downloadFile(button.url)" class="ft_button" :disabled='loading || outOfDate'><i v-bind:class="button.icon"></i>{{button.label}}</v-btn>
          </v-toolbar>
          <!-- Document content -->
          <div v-if="contentType==='fragment'" class="content_fragment" id="ft_content" v-html="content"></div>
          <div v-else class="content_fragment">
            <iframe v-if="contentType==='html'" :src="iframeSrc" id="ft3_html_iframe" class="ft3_content ft3_content_html"></iframe>
            <iframe v-if="contentType==='pdf'" :src="iframeSrc" class="ft3_content ft3_content_pdf" ></iframe>
          </div>
          <!-- End document content -->
        </v-card>
      </v-container>
      </v-main>
    </v-layout>
  </v-sheet>
  
  <message-modal 
    type="error" 
    :auth-token='authToken'
    ref="errorModalComponent"
  ></message-modal>

  <!-- Loading overlay -->
  <v-overlay
    :model-value="!assignmentsAreLoaded || loading"
    class="align-center justify-center ft3_overlay_blur"
    persistent
    scroll-strategy='block'
  >
    <v-progress-circular
      color="primary"
      indeterminate
      size="64"
    ></v-progress-circular>
  </v-overlay>
  <!-- end loading overlay -->

  </div><!-- end ft3 app-->

  <script src="js/flexTeaching.js" type = "module"></script>

<!---FT3_FOOTERS--->

</body>

</html>
