/* https://stackoverflow.com/a/20741964/1129889 */


.ft3_overlay_blur {
  backdrop-filter: blur(5px);
}

/* Loading request stuff */
.ft3-reload-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: 
      url('data:image/svg+xml;utf8,<svg style="transform:rotate(-0deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50"><text x="25" y="25" fill="white">↻</text></svg>') 0 0;
    background-size: 100px;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
    /*
    background: repeating-linear-gradient(
      -55deg,
      rgba(34,34,34,.7),
      rgba(34,34,34,.7) 10px,
      rgba(51,51,51,.7) 10px,
      rgba(51,51,51,.7) 20px
    );
    */
    
}

/* Loading request stuff */
.ft3-reload-modal-message {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    font-size: 200%;
    text-align: center;
}
